[flake8]
inline-quotes = double
exclude = venv, migrations, yat-ui, .venv, dev-api
max-complexity = 10
import-order-style = google
application-import-names = homepage, about, users, stats
unused-arguments-ignore-override-functions = true
